<table style="height: 700px; width: 100%">
    <td width="80%">

        <div style="height:700px">
            <%=fields.instanceMonitorPanel.here()%>
        </div>


    </td>
    <td style="background: #000000">

        <div style="height:700px;width:200px;overflow: auto;background: #000000; color: #f1c40f">
            <%=fields.consolePanel.here()%>
        </div>


    </td>
</table>

