
<div style="height: 50%">
    <h1>Structure View</h1>
<%=fields.processAdminResourceNavigator.here()%>
</div>

<div style="height: 50%">
    <h1>Data View</h1>
<%=fields.databaseNavigator.here()%>
</div>