<div class="sea_box">
	<div class="layer_sea">
    	<input name="" id ="searchIptSub_<%=objectId%>" type="text" placeholder="Type Analytics key word"/>
    	<input type="hidden" name="subjectNodeList" id="subjectNodeList" value=""/>           		
    </div>
</div>    
<div style=" height:200px;background:#fff;overflow:auto;border: 1px solid #dcdcdc;border-right:none">
    <div id="jstreeSub_<%=objectId%>">
        <ul>
            <%=fields.nodeList.here()%>
        </ul>
    </div>
</div>
