
    <div class="sea_box">
    	<div class="layer_sea">
        	<input name="" id ="searchIptTmp_<%=objectId%>" type="text" placeholder="Type Analytics key word"/>            		
        </div>
	</div>    
    <div style=" height:200px;background:#fff;overflow:auto;border: 1px solid #dcdcdc;border-right:none;">
        <div id="jstreeTmp_<%=objectId%>">
            <ul>
                <%=fields.nodeList.here()%>
            </ul>
        </div>
    </div>
