<%
	if(value){
%>

<div id="mobile_left_container">
<%=fields.perspectivePanel.here()%>
</div>

<div id="main_container">

	<%if(value.topPanel){%>
	<div class="top" style="display:none">
		<%=fields.topPanel.here()%>
	</div>
	<%}%>
	<div class="bottom" style="top: 0px; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px; overflow:auto">
		<%=fields.appPanel.here()%>
	</div>

</div>

<div id="mobile_right_container">
</div>

<%
	}
%>