<table>


    <tr>
        <th>Column</th>
        <th>Function</th>
        <th>N</th>
        <th>Formula</th>
    </tr>

    <%=fields.computeTableRowList.here()%>

</table>


<%=methods.addRow.here()%>