<canvas id="myChart_<%=objectId%>" width="400" height="400"></canvas>


<div class="accordian">
<% for (var index  in value /*(RadarChart.java)*/ .labels){%>

<li><%=value.labels[index]%>

<%}%>
</div>