<!--replace-->

<li id="objDiv_<%=objectId%>">

    <% if (value.object) { %>
        <%=fields.object.here()%>
    <% } else { %>
        <%=value.name%>
    <% } %>
    
<%
    if (value.childNode) {
%>
<ul>
     <%=fields.childNode.here()%>
</ul>
<% } %>

</li>
