<div class="form-group">
    <label for="Input Table">Input Table:</label>
    <input type="text" class="form-control" id="InputTable" value="<%=value.inputTable%>">

    <label for="Input Table">Input Value:</label>
    <input type="text" class="form-control" id="InputValue" value="<%=value.inputValue%>">

    User Name: <%=mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session").user.name%>
</div>

