<%
if(value){
%>
<div class="top_iconmenu">
	<span style="position: relative;padding:26px;top:13px"><img src="images/flatStyle/ci_symbol.png" height="25px"></span>
	<span style="position: relative;margin-left:-25px;top:13px"><img src="images/flatStyle/codi_logo.png" height="25px"></span>
</div>
<%
}
%>